@use "../config" as *;

.b-hero {
  position: relative;
  height: 100vh;

  &__background {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: $danger;
    display: none;

    > div {
      position: absolute;
      left: 1rem;
      right: 1rem;
      background-color: blue;
    }

    > div:nth-child(1) {
      top: 1rem;
      clip-path: polygon(0 0, 100% 0, 100% 72%, 92% 70%, 8% 89%, 1% 89%);
      height: 50%;
    }

    > div:nth-child(2) {
      top: 50%;
      transform: translateY(-40%);
      clip-path: polygon(7% 43%, 12% 44%, 95% 23%, 100% 54%, 0 55%);
      height: 70%;
    }

    > div:nth-child(3) {
      top: 70%;
      bottom: 1rem;
      clip-path: polygon(6% 0, 97% 0, 100% 100%, 0 100%);
      height: 30%;
    }
  }

  &__image {
    position: absolute;
    inset: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      background-color: rgba($color: $black, $alpha: 0.3);
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    padding: $margin-xxl 1rem 0 1rem;
    color: $white;

    @include media-breakpoint-up(md) { padding: $margin-xxl 2rem 0 2rem; }

    @include media-breakpoint-up(xl) {
      position: fixed;
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;

      @include body-s;

      font-weight: $semi-bold;
    }
  }
}
