@use "../config" as *;
@use '../mixins' as *;

$postTitleFont: "Arial", sans-serif;
$postContentFont: "Arial", sans-serif;
$postTitleColor: $black;
$postContentColor: $black;

.single-projet {
  .s-projet-hero {
    padding: $margin-xxl 0 $margin-m 0;

    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-top: $margin-l;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: $margin-l;

      &--inner { gap: $margin-m; }
    }

    &__title { font-weight: $thin; }

    &__subtitle { @include title-3; }

    &__details { margin-top: $margin-m; }

    &__detail { display: block; }
  }

  .s-projet-slider {
    &__container {
      padding-left: submargin(24, 0);
      overflow: hidden;
    }

    &__wrapper {
      display: flex;
      gap: 3rem;
      margin-bottom: $margin-m
    }

    &__image {
      min-width: 30rem;
      user-select: none;
      aspect-ratio: 16 / 9;
    }

    &__pagers {
      display: none;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .s-projet-content {
    h2 {
      font-family: $postTitleFont;
      font-size: 2.5rem;
      margin: 3rem 0;
      color: $postTitleColor;
    }

    h3 {
      font-family: $postTitleFont;
      font-size: 2.2rem;
      margin: 2rem 0;
      color: $postTitleColor;
    }

    h4 {
      font-family: $postTitleFont;
      font-size: 2rem;
      margin: 1.5rem 0;
      color: $postTitleColor;
    }

    p {
      font-family: $postContentFont;
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: $postContentColor;
    }

    a {
      font-family: $postContentFont;
      color: $postContentColor;
      text-decoration: underline;
    }

    .wp-block-columns {
      display: flex;
      flex-direction: column;
      margin-top: 6rem;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      .wp-block-column {
        display: flex;
        flex-direction: column;

        &:first-child { margin-bottom: 2rem; }
        &.is-vertically-aligned-top { justify-content: flex-start; }
        &.is-vertically-aligned-center { justify-content: center; }
        &.is-vertically-aligned-bottom { justify-content: flex-end; }

        @include media-breakpoint-up(md) {
          &:first-child { margin-bottom: 0; }
        }

        .wp-block-image {
          display: flex;
          max-width: 100%;
          height: 100%;
          margin: 0;

          figure {
            width: 100%;
            height: 100%;
            margin: 0;

            &.alignleft {
              float: left;
              margin-right: 0;
              margin-top: 0;
              margin-bottom: 0;

              @include media-breakpoint-up(md) { margin-right: 2rem; }
            }

            &.alignright {
              float: right;
              margin-left: 0;
              margin-top: 0;
              margin-bottom: 0;

              @include media-breakpoint-up(md) { margin-left: 2rem; }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .s-projet-slider {
      &__container { padding-left: 2rem; }

      &__image { min-width: 30rem; }

      &__pagers {
        display: flex;
        gap: 1rem;
      }
    }

  }

  @include media-breakpoint-up(xl) {
    .s-projet-hero {
      height: 100vh;

      &__wrapper {
        margin-top: 0;
        justify-content: space-between;
        height: 100%;
      }

      &__image {
        display: flex;
        height: 100%;
      }
    }

    .s-projet-slider__image { min-width: 45rem; }
  }
}
