@use "../config" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-header;
  font-weight: $semi-bold;
  color: $white;
  transition: color 0.5s $ease-smooth;

  &--dark { color: $black; }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }

  &__button { text-transform: uppercase; }
}
